.q{
    direction: row;
    display: flex;
}

.a{
    position: relative;
    width: 120px;
    height: 40px;
    margin-left: 555px;
}

.s{
    position: relative;
    font-size: 14px;
    margin-left: 550px;
    display: flex;
    direction: row;
    padding: 20px;
}

.c{
    position: relative;
    margin-left: 20px;
}

.o{
    position: relative;
    bottom: 10px;
    right: 10px;
    object-fit: cover;
    width:1978px; 
    height:600px;
}

.r{
    position: relative;
    border-radius: 70px;
    width: 100px;
    height: 100px;
    top: 160px;
    left: 700px;
}

.d{
    position: relative;
    font-size: 40px;
    bottom: 37px;
    left: 790px;
    font-size: 32px;
    color: rgba(0, 0, 0, 0.781);
    border-bottom: 1px solid #100;
    padding: 1px;
    display: inline-block;
    font-weight: bold;
}

.e3{
    position: relative;
    left: 810px;
    top: 25px;
    color:rgba(0, 0, 0, 0.781);
    direction: row;
    display: flex;
    padding:15px;
    font-weight: bold;
}

.t1{
    font-size: 14px;
    position: relative;
    top: 10px;
   left: 830px;
    padding: 1px;
}

.y{
    position: relative;
    color: rgba(0, 0, 0, 0.781);
    font-weight: bold;
    font-size: 32px;
    margin-top: 200px;
    margin-left: 1000px;
    border-bottom: 1px solid #100;
    padding: 1px;
    display: inline-block;
    bottom: 75px;
}

.p{
   display: flex;
   direction: row;
   margin-left: 650px;
   margin-bottom: 100px;
}

img{
    width: 270px;
    height: 170px;
    padding: 10px;
}

.l{
    font-weight: bold;
    direction: row;
    display: flex;
    padding: 30px;
}

.t5{
    direction: row;
    display: flex;
    padding: 30px;
}

.h{
    color: rgba(0, 0, 0, 0.603);
    position: relative;
    left: 15px;
    margin-left: 1000px;
    font-size: 11px;
    bottom: 100px;
}