.e3{
    color:rgba(0, 0, 0, 0.781);
}

.a{
    position: relative;
    width: 120px;
    height: 40px;
    margin-left: 555px;
    top: 2px;

}


.s{
    position: relative;
    font-size: 14px;
    margin-left: 550px;
    display: flex;
    direction: row;
    padding: 20px;
    bottom: 8px;
}

.q{
    direction: row;
    display: flex;
}

img{
    position: relative;
    bottom: 10px;
    object-fit: cover;
    width:1920px; 
    height:600px;
}

.r{
    position: relative;
    border-radius: 50px;
    width: 100px;
    height: 100px;
    margin-left: 600px;
    margin-top: 50px;
    top: 140px;
    left: 193px;
}

.t1{
    font-size: 14px;
    position: relative;
    margin-left: 900px;
    top: 17px;
    left: 25px;
    padding: 1px;
}

.y{
    position: relative;
    color: rgba(0, 0, 0, 0.781);
    font-weight: bold;
    font-size: 32px;
    margin-top: 200px;
    margin-left: 1000px;
    border-bottom: 1px solid #100;
    padding: 1px;
    display: inline-block;
    bottom: 75px;
}

.p1{
    position: relative;
    width: 300px;
    height: 200px;
    
    left: 600px;
}

.p2{
    position: relative;
    width: 300px;
    height: 200px;
    
    left: 600px;
}

.p3{
    position: relative;
    width: 300px;
    height: 200px;
    
    left: 600px;
}

.p{
    position: relative;
    direction: row;
    padding: 50px;
    right: 30px;
    bottom: 60px;
}

.t2{
    position: relative;
    margin-left: 600px;
    bottom: 108px;
    left: 100px;
}

.t3{
    position: relative;
    margin-left: 1250px;
    bottom: 135px;
    left: 65px;
}

.t4{
    position: relative;
    margin-left: 950px;
    bottom: 158px;
    left: 45px;
}

.t5{
    position: relative;
    margin-left: 580px;
    bottom: 150px;
    left: 87px;
}

.t6{
    position: relative;
    margin-left: 930px;
    bottom: 172px;
    left: 37px;
}

.t7{
    position: relative;
    margin-left: 1235px;
    bottom: 197px;
    left: 51px;
}

.h{
    color: rgba(0, 0, 0, 0.603);
    position: relative;
    left: 15px;
    margin-left: 1000px;
    font-size: 11px;
    bottom: 100px;
    
}

.g{
    position: relative;
    right: 100px;
}

.l{
    font-weight: bold;
}
  
.b{
    position: relative;   
    right: 3px;
}

.c{
    position: relative;
    margin-left: 20px;
    left: 7px;
    
}
   
.d{
    position: relative;
    margin-left: 200px;
    font-size: 40px;
    bottom: 37px;
    left: 100px;
    font-size: 32px;
    color: rgba(0, 0, 0, 0.781);
    border-bottom: 1px solid #100;
    padding: 1px;
    display: inline-block;
    font-weight: bold;
}

.e1{
    position: relative;
    margin-left: 900px;
    font-size: 15px;
    font-weight: bold;
    top: 32px;
    left: 24px;
    font-size: 16px;
}

.e2{
    position: relative;
    margin-left: 990px;
    font-size: 15px;
    font-weight: bold;
    left: 14px;
    top: 8px;
    font-size: 16px;
}

